variables:
  AUDIT_AWS_ELB_ALERT_LIST:
    description: alert list for generating notifications
    required: true
    type: array
    default:
      - elb-old-ssl-policy
  AUDIT_AWS_ELB_ALERT_RECIPIENT:
    description: email recipient for notification
    required: true
    type: string
    default:
  AUDIT_AWS_ELB_ALLOW_EMPTY:
    description: receive empty reports?
    required: true
    type: string
    default: false
  AUDIT_AWS_ELB_SEND_ON:
    description: always or change
    required: true
    type: string
    default: "change"
  AUDIT_AWS_ELB_REGIONS:
    description: list of AWS regions to check. Default is all regions
    required: true
    type: array
    default:
        - us-east-1
        - us-west-1
        - us-west-2
#       - ap-south-1
#       - ap-northeast-1
#       - ap-northeast-2
#       - ap-southeast-1
#       - ap-southeast-2
#       - eu-central-1
#       - eu-west-1
#       - sa-east-1
